<nav id="navbar-example" class="navbar navbar-expand-lg fixed-top py-3 backdrop" style="background-color: white;">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="/">
			<img class="d-inline-block align-top img-fluid" src="../../public/img/illustrations/logo.png" alt=""
				width="50" />
			<span class="text-danger fs-4 ps-2">Chefront</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="fa fa-bars" style="color:#dd4444; font-size:28px;" aria-hidden="true"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto pt-2 pt-lg-0">
				<li><a class="nav-link" href="/">Home</a></li>
			</ul>
			<div class="ps-lg-5">
				<div class="dropdown">
					{{#if user}}
						<button class="btn btn-lg btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{user.business_name}}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Profile</a>
							<a class="dropdown-item" href="#">Reservations</a>
							<a class="dropdown-item" href="#">Favourites</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/auth/logout">Sign out</a>
						</div>
					{{else}}
						<a href="/auth/login">
							<button class="btn btn-lg btn-outline-danger order-0">Sign In</button>
						</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</nav>