.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    font-weight: 300;
    font-size: 18px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #bebfc0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

section {
    padding-top: 8em;
}

#staticBusinessName, select{
    outline: none;
}

#word-count{
    position: inherit;
}

.search-input {
    height: 2.9em;
    font-size: 16px;
    color:black;
}

.image-preview {
    outline: 2px solid lightgrey;
    border-radius: 25px;
    margin-top: -90px;
    margin-left: 50px;
    overflow:hidden;
    width: 400px;
    height: 350px;
}

.inside-preview{
    width: 350px;
    height: 250px;
    padding: 5px 5px 5px 5px;
    align-self: center;
}

label,input{
    display: inline-block;
    vertical-align: middle;
}
.card-dashcard{
    border-style: solid 5px black;
}