<title>Chefront - Retrieve Business Users</title>

<link rel="stylesheet" href="/public/css/profile.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12 mx-auto">
                <h2 class="h3 mb-4 page-title">Retrieve Business Users</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Users</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin/businessUsers">View Businesses</a>
                                <a class="dropdown-item" href="/admin/customerUsers">View Customers</a>
                                <a class="dropdown-item" href="/admin/adminUsers">View Admins</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/categories" role="tab"
                                aria-controls="home" aria-selected="false">View categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/outlets" role="tab"
                                aria-controls="home" aria-selected="false">View outlets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" href="/admin/feedback" role="tab"
                                aria-controls="home" aria-selected="false">View feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table
                id="table"
                data-toggle="table"
                data-width = "50px" 
                data-pagination="true"
                data-page-size="10"
                data-buttons="buttons"
                data-show-columns="true"
                data-show-refresh="true"
                data-show-columns-toggle-all="true"
                data-show-pagination-switch="true"
                data-show-fullscreen="true"
                data-search="true"
                data-url="/admin/all-business-data"
                data-side-pagination="server">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-sortable="true" data-field="name">Name</th>
                        <th scope="col" data-sortable="true" data-field="contact">Contact</th>
                        <th scope="col" data-sortable="true" data-field="email">Email</th>
                        <th scope="col" data-sortable="true" data-field="role">Role</th>
                        <th scope="col" data-formatter="table_row_delete">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
   function table_row_delete(value, row, index) {
		return `
        <a href="/admin/deleteBusinessUser/${row.name}" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
		`;
	}
</script>