<title>Chefront - About</title>

<!-- Start of Hero section -->
<section id="home" class="py-1 active pr-5">
	<div class="bg-holder d-none d-md-block"
		style="background-image:url(public/img/illustrations/pizza.png);background-position:right 100px bottom 50px;background-size:contain;">
	</div>
	<div class="container position-relative">
		<div class="row align-items-center min-vh-75 my-lg-8 h-24">
			<div class="col-md-7 col-lg-6 text-center text-md-start py-8 px-5">
				<h1 class="ml-4 mb-4 display-1 lh-sm">About <br class="d-block d-lg-none d-xl-block" />Chefront
				</h1>
			</div>
		</div>
	</div>
</section>
<!-- End of Hero section -->

<!-- Start of Section: About -->
<section id="about" class="">
	<div class="container">
		<div class="row flex-center mb-5">
			<div class="col-lg-7 text-center">
				<h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">What is Chefront?</h1>
				<hr class="mx-auto text-danger my-4" style="height:3px; width:70px;" />
				<p class="mx-auto">Chefront is a website that encourages people to dine in at off peak hours and
					gives smaller and lesser known restaurants more exposure.</p>
			</div>
		</div>
		<div class="row flex-center mb-5">
			<div class="col-lg-7 text-center">
				<h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Our Mission</h1>
				<hr class="mx-auto text-danger my-4" style="height:3px; width:70px;" />
				<p class="mx-auto">Our mission is to connect empty tables with empty stomachs by offering time-based
					discounts to everyone.</p>
			</div>
		</div>
		<div class="row flex-center mb-5">
			<div class="col-lg-7 text-center">
				<h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Who are we?</h1>
				<hr class="mx-auto text-danger my-4" style="height:3px; width:70px;" />
				<p class="mx-auto">We're a group of passionate and driven individuals who has to complete this website for
					our school project.</p>
			</div>
		</div>
		<div class="row flex-center">
			<div class="col-lg-7 text-center">
				<h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">The Team</h1>
				<hr class="mx-auto text-danger my-4" style="height:3px; width:70px;" />
			</div>
			<div class="card-deck">
				<div class="card mb-6">
					<img class="card-img-top img-fluid" src="/public/img/people/deb.jpg" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">CEO</h4>
						<p class="card-title">Deborah Lu</p>
					</div>
				</div>
				<div class="card mb-6">
					<img class="card-img-top img-fluid" src="/public/img/people/geof.jpg" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">CFO</h4>
						<p class="card-title">Geoffrey Pagdilao</p>
					</div>
				</div>
				<div class="card mb-6">
					<img class="card-img-top img-fluid" src="/public/img/people/sam.jpg" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">CTO</h4>
						<p class="card-text">Samuel Boey</p>
					</div>
				</div>
				<div class="card mb-6">
					<img class="card-img-top img-fluid" src="/public/img/people/max.jpg" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">Co-founder</h4>
						<p class="card-text">Max Liu</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Section: About -->