<title>Chefront - Contact Us</title>

<link rel="stylesheet" href="/public/css/contact.css">

<section>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form action="/home" method="post">
                <form class="contact100-form validate-form">
                    <span class="contact100-form-title">
                        Send us a message!
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                        <input class="input100" type="text" name="Name" placeholder="Full Name">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                        <input class="input100" type="text" name="Email" placeholder="E-mail">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your phone">
                        <input class="input100" type="text" name="Phone" placeholder="Phone">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                        <textarea class="input100" name="Message" placeholder="Your Message"></textarea>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-contact100-form-btn">
                        <button type="submit" class="contact100-form-btn">
                            <span>
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                Send
                            </span>
                        </button>
                    </div>
                </form>
            </form>
        </div>
    </div>
</section>