<title>Chefront - Restaurants</title>
<link rel="stylesheet" href="/public/css/category.css">

<div class="container py-5 ">
    <section id="home" class="py-1 active">
        <div class="container position-relative">
            <div class="text-center text-lg-start py-8">
                <h1 class="display-2 lh-sm">
                    <center>Search for your favourite restaurants!</center>
                </h1>
            </div>
        </div>
    </section>

    <input type="search" id="search" class="form-control text-dark"
        placeholder="Search for a restaurant, location or cuisine" style="height: 3.5rem;">
    <br><br><br>
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <div class="carddeck">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="card mr-3 mb-5">
                            <a href="#">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes1</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                            </a>
                        </div>
                        <div class="card mr-3 mb-5">
                            <a href="#">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes1</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                            </a>
                        </div>
                        <div class="card mr-3 mb-5">
                            <a href="#">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes1</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                            </a>
                        </div>
                        <div class="card mr-3 mb-5">
                            <a href="#">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes1</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                            </a>
                        </div>
                        <div class="card mr-3 mb-5">
                            <a href="#">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes2</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                            </a>
                        </div>
                        <div class="card mr-3 mb-5">
                            <a href="#">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes1</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                            </a>
                        </div>
                        <div class="card mr-3 mb-5">
                            <a href="#" class="clicker">
                                <img class="card-img-top img-fluid"
                                    src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top"
                                    alt="Card image cap" width="300">
                                <div class="card-body">
                                    <h4 class="card-title">tes2</h4>
                                    <p class="card-text">.cardio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery.expr[':'].contains = function (a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };

    $('#search').keyup(function () {
        $('.card a').removeClass('d-none'); //
        var filter = $(this).val(); // get the value of the input, which we filter on
        $('.carddeck').find('.card a .card-body h4:not(:contains("' + filter + '"))').parent().parent()
            .addClass('d-none');
    })
</script>