<title>Chefront - Terms of service</title>

<div>
    <center><h1>Chefront Terms of Service</h1>
    
    <hr class="mx-auto text-danger my-4" style="height:3px; width: 500px;"/>
    <div style="width: 900px; text-align:left;">
        
        <p>
        These terms of use (these “Terms”) govern the use of the services provided by CHEFRONT INTERNATIONAL PTE. LTD. (UEN: 201320376H) (hereinafter also referred to as “we”, “our” or “us.”), either itself or through its subsidiary, via various electronic platforms such as the chefront website or mobile site (i.e. www.chefront.com) (the “chefront Sites”) or mobile applications (the “Mobile Apps”) (the chefront Sites, Mobile Apps and Apps and the services thereon shall collectively hereinafter be referred to as the “Services”). These Terms also govern your Account (as defined below) and your use of the Services.<br>

        The chefront Sites and Mobile Apps are operated by us and by accessing and/or otherwise using the Services in any manner (whether as a registered user or otherwise), you therefore agree that you have read and accepted these Terms. We reserve the right to modify these Terms, without notice, at any time. You understand that your continued use of the Services after these Terms have been modified constitutes your acceptance of these Terms as amended.<br>

        If these Terms are modified in any way it will be updated here. Regularly checking and reviewing this page ensures that you are updated on the terms and conditions governing your use of the Services and your Account.<br>

        If we believe that the modifications are material, we will notify you of the changes by posting a notice on the chefront Sites and/or the Mobile Apps, or email you at the email address provided to us by you, and as we ma<br>y deem appropriate. What constitutes a material change will be determined by us, at our sole and absolute discretion.

        These Terms are to be read together with and does incorporate our Privacy Policy (which may be found here). If you do not agree with these Terms and/or our Privacy Policy, please do not use the Services.<br>

        1. use of the services<br>
        Subject to your compliance with these Terms, we grant you a limited, non-exclusive, revocable (with or without cause), non-transferable right and license to use our Services. Our Services are provided to you for your non-commercial, personal use only and must not be used for business or commercial purposes, unless you use the Services and/or an Account with us as our restaurant and dining service provider (“Merchant”). You may not reproduce, modify, copy or distribute or use for commercial purposes any part of the Services without our express and written permission.<br>

        You undertake that, when browsing, accessing the chefront Sites or using the Services, downloading, installing or using the Mobile Apps, or when communicating with any Merchant or any other user of the Services, you shall not do or attempt to do or permit any other person to do or attempt any of the following:<br>

        a. Upload any information, data and/or Content (as defined below) that violates or infringes upon any of our or another party’s rights of publicity, privacy, copyright, trademark or any other intellectual property right;<br>

        b. Engage in or encourage any conduct or make any statement which is or is likely to be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party in any country in the world;<br>

        c. Engage in or encourage any conduct or make any statement which is or is likely, in our opinion, to restrict or inhibit any other person from properly using or enjoying the Services;<br>

        d. Furnish false, inaccurate or misleading information, use credit/debit card details fraudulently, enter into fraudulent interactions or transactions with us or any third party (including by entering into interactions or transactions purportedly on behalf of a third party where you have no authority to bind that third party or by using a false or fictitious identity);<br>

        e. Affect us adversely or reflect negatively on us, our Services, our goodwill, our trademark(s), our name or reputation or cause duress, distress or discomfort to us or anyone else, or discourage any person from using all or any portion, features or functions of the Services;<br>

        f. Use the Services to send, post, or otherwise communicate any Content which is offensive, indecent, threatening, abusive, insulting, harassing, defamatory, libellous, inflammatory, deceptive, fraudulent, tortious, profane, invasive of another person’s privacy, or insensitive as to race, religion or gender, threatening, of an indecent, obscene or menacing character, blasphemous or otherwise offensive to any individual or group;<br>

        g. Upload to, or transmit through the Services any data, file, software or link that contains malicious codes or redirects to a virus, Trojan Horse, worm, spyware or other harmful programs;<br>

        h. Use any scraper, robot, bot, spider, crawler or any other automated device or means to access, acquire, copy or monitor any portion of the Services, or any data or Site Content (as defined below) found or accessible through the Services;<br>

        i. Interfere with, or disrupt the integrity or the performance of the Services;<br>

        j. Violate any applicable laws, rules or regulations in connection with your access or use of the Service;<br>

        k. Use the Services for any purpose for which it is not designed or intended or in any manner which violates or is inconsistent with these Terms;<br>

        l. Use our proprietary information or interfaces or other intellectual property in the design, development, manufacture, licensing or distribution of any application, accessories or devices for use with the Services;<br>

        m. Access or use the Services in such a way as to, or commit any act that imposes or is likely or calculated to impose an unreasonable or disproportionately large load on our infrastructure;<br>

        n. Collect any information in respect of other users (and which may include both our customers and/or Merchants) without their consent or gain unauthorised access to the Services, other users' accounts, names, passwords or personally identifiable information;<br>

        o. Copy, reproduce, modify, create derivative works from, distribute, or publicly display any Site Content from the Services without our prior express written permission and/or any applicable third party;<br>

        p. Authorise or encourage anyone to do any of the foregoing.<br>

        2. user accounts<br>
        You may register for a user account with us either by registering with us or by linking your social media account with us (“Account”). If you create an Account, you agree to complete the registration process by providing current, complete, and accurate information as required by us.<br>

        You are responsible for all activities that occur under your Account. You agree to notify us immediately of any unauthorised use of your Account or any other breach of security. We will not be liable for any loss that you may incur as a result of your use or someone else’s use of your Account, either with or without your knowledge. In addition, you may be held liable for any losses incurred by us or another party due to your use or someone else’s use of your Account.<br>

        You are solely responsible for the proper use of your Account, and you shall also be solely responsible to ensure the confidentiality of your Account details and login credentials. You shall ensure that you have at all times full control of and over the use of your Account, and that you shall further not use another user’s Account at any time. You shall not set up multiple Accounts, or transfer or sell your Account to another party.<br>

        All Accounts must be registered with a valid personal email address that you access regularly, so that, among other things, we may communicate with you by email in respect of the management and administration of your Account.<br>

        We may require users to re-validate their Accounts or update their Account passwords from time to time in order to ensure that the Accounts are still active and registered with a valid email address.<br>

        We reserve the right to terminate, delete and/or otherwise remove any Account without prior notice if we believe that the Account had been registered in violation of these Terms, if proxy IPs (Internet Protocol addresses) are being used in order to attempt to hide the use of multiple registration accounts, or if the Account disrupts the smooth operation of our Services or in any way or disrupts or annoys other users of our Services.<br>

        When you create an Account, you represent and warrant that:<br>

        1. If you are representing a company, organisation or any other legal entity (“Entity”), you have authority to bind the Entity to these Terms, and that the Entity is duly incorporated;<br>

        2. You are capable of entering into and performing legally binding contracts under the applicable law;<br>

        3. You are and will be legally, financially and morally responsible for all activities that occur under your Account; and<br>

        4. All information which you provide is accurate, up to date, truthful and complete and that you will promptly inform us of any changes to such information by updating your Account profile.<br>

        If you are below the age of majority, you may only use the Services with the consent of and under the supervision of your parent or legal guardian who shall be responsible for all your activities.<br>

        3. User and site content<br>
        The Services allow users to create listings and share content, such as photos, videos, comments, data, text, links and/or other information (“Content”). With respect to any Content that you upload, post or otherwise make available on through our Services, you hereby assign us all rights, title and interest to us for the same, and you expressly acknowledge and agree that thereafter we shall own such Content. To the fullest extent permitted under the applicable law, you agree not to assert any rights and/or other intellectual property rights in respect of any use and/or ownership of such Content by us or third parties authorised by us. You further warrant that at all material times, you are the legitimate owner of such Content and/or that you otherwise are authorised or have the right to therefore assign the same to us.<br>

        You acknowledge that you are responsible for any Content you may submit through the chefront Sites and Mobile Apps, including the legality, reliability, appropriateness, originality and copyright of any such Content. With respect to any Content you submit or make available through the chefront Sites and Mobile Apps, you hereby further represent, warrant and covenant that any Content you provide does not include anything to which you do not have the full right to grant such a license to us.<br>

        The chefront Sites and Mobile Apps including without limitation the text, graphics, photographs, software, video and audio files, and the like that appear on the chefront Sites and Mobile Apps (the “Site Content”), is either owned by or licensed to us, and is subject to copyright and other intellectual property rights under the applicable laws.<br>

        Users may not repost, republish, reproduce or copy the Site Content to other websites, mobile applications, or otherwise, without our prior written consent. Furthermore Users shall not sell, or distribute, Site Content to third parties, prepare derivative works of or otherwise exploit Site Content without our prior written permission. To request permission to re-post, republish, reproduce, copy, sell, distribute, prepare derivative works of or otherwise exploit Site Content, please submit your request in writing via our Customer Support Page. We have no obligation to grant you permission to repost, republish, reproduce, copy, sell, distribute, prepare derivative works of or otherwise exploit Site Content.<br>

        All of our trademarks, service marks and logos are owned by or licensed to us and may not be used for any purpose without our prior written consent.<br>

        4. permitted uses
        The chefront Sites and Mobile Apps are designed to offer our customers reservations with our Merchants, and vice versa, and which reservations may include a discount. You agree not to use the Services in any other manner and in a manner that could damage, disable, overburden, or impair any server, or the network(s) connected to any of our server(s), or interfere with any other party's use and enjoyment of the Services or access to the chefront Sites and Mobile Apps.<br>

        You may not attempt to gain unauthorized access to any portion of the chefront Sites, Mobile Apps, other Accounts, computer systems, or networks connected to any of our server(s), whether through hacking, password or data mining, or any other means. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available to you through the Services or on the chefront Sites or Mobile Apps. You will not link to any part of the chefront Sites if such activity is illegal, will cause damage to, or will otherwise harm us or any other party. Moreover, we reserve the absolute right in our sole discretion to disable or otherwise terminate your use of the Services, chefront Sites or Mobile Apps, or any links you make to the chefront Sites, or request you to do the same. We reserve all of our rights in the Services, chefront Sites and Mobile Apps not expressly granted to you by these Terms.<br>

        5. reservations, credits, and cancellation policy
        Through the use of the Services, a customer may make a restaurant reservation at one of the times, venues and at the promotions offered by a Merchant. We do not however guarantee and are not responsible for the performance of the reservation, the dining services and/or the promotions (i.e. discounts), which are the sole responsibility and are to be provided and/or otherwise performed by the Merchant. We are therefore not responsible for the service, eligibility, or termination of the restaurant or the restaurant’s reservation with the Merchant.<br>

        As provided above in these Terms, we may terminate your use of the Services and/or your Account upon your following conduct, which may include but are not limited to the following:<br>

        a. changing the time and/or date of a reservation more than five times;<br>

        b. contacting the Merchant directly to attempt to modify the time, date or other parameters of a reservation;<br>

        c. arriving at the Merchant’s restaurant at a time or with a party size other than that specified in your reservation confirmation and requesting a discount;<br>

        d. failing to cancel a reservation which you do not plan to attend (“no-showing”);<br>

        e. committing fraud of any kind with regards to your obligation to pay the Merchant in full for services rendered.<br>

        We reserve the right to at any time without notice, change the terms applicable to referral credits, including the value, validity, expiration period, and/or your ability to redeem existing referral credits.<br>

        Permitted cancellations of reservations may be made at least one minute prior to the commencement time of your reservation.<br>

        Discounts are applicable for dine-in only and cannot be used with delivery or take away.<br>

        Prices may vary from regular menu on special holidays. Please contact the restaurant directly to confirm menu on special holidays.<br>

        6. claim of copyright infringement<br>
        We respect the intellectual property of others. If you believe in good faith that any Site Content, or other matter posted on the chefront Sites or Mobile Apps infringe upon the copyright in a work you own, please contact via our Customer Support Page, with correspondence containing the following:<br>

        a. a physical signature of the owner, or a person authorized to act on behalf of the owner, of the copyright that is allegedly infringed;<br>

        b. a clear identification of the copyrighted work allegedly infringed;<br>

        c. identifying information reasonably sufficient to allow determination by us of the location of the material that is allegedly infringing;<br>

        d. information reasonably sufficient to permit us to contact or respond to you;<br>

        e. a statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and<br>

        f. a statement that the information in the notification is accurate, and that you are either the owner or authorised to act on behalf of the owner of an exclusive right that is allegedly infringed.<br>

        7. links to other websites/ mobile sites<br>
        The chefront Sites and Mobile Apps may contain advertisements and/or links to other sites ("Third Party Sites"). These links to Third Party Sites are provided solely for the convenience of our users. We do not endorse, sanction or verify the accuracy or ownership of the information contained in the advertisements or the content of any third party sites or any products or services advertised on third party sites. If you decide to leave the chefront Sites and navigate to Third Party Sites, or install any other applications, software or download content from any such Third Party Sites, you do so at your own risk. Concerns regarding a Third Party Site should be directed to the owners of the Third Party Site itself. We bear no responsibility for any action associated with any Third Party Site. Moreover, we do not imply an affiliation with any Third Party Site.<br>

        8. limitation of liability<br>
        You further acknowledge and agree that we will not be held liable for any loss or damage incurred as a result of use of the chefront Sites, Mobile Apps or the Services. You understand that we are not the seller of the goods and/or dining services contained on the chefront Sites, Mobile Apps and/or otherwise made available through the Services. We are a service provider and transaction handler for third party Merchants. We are in no way nor shall be considered an agent of any Merchant, and we take no responsibility for the services or products for which any Merchant provides.<br>

        9. indemnification<br>
        You agree to defend, indemnify, and hold us harmless from all liabilities, claims, damages, losses, and expenses, including attorneys' fees that arise from your use of the Services (including the chefront Sites and Mobile Apps). We at our sole and absolute discretion reserve the right, at your own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.<br>

        10. Governing Law, Jurisdiction and Arbitration
        Any and all disputes arising out of, relating to or connected with these Terms, our Privacy Policy, or your use of any part of the chefront Sites, Mobile Apps and/or the Services, shall be referred to the Singapore International Arbitration Centre (“SIAC”) and shall be finally resolved by arbitration under the SIAC Rules by a panel of one (1) arbitrator appointed in accordance with the SIAC Rules. The seat of arbitration shall be Singapore. The Language to be used in the arbitral proceedings shall be English.

        The chefront Sites and Mobile Apps are operated by a Singapore entity, and these Terms are governed by the laws of the Republic of Singapore.

        Notwithstanding the above and in the event that you initiate legal proceedings against us, you hereby consent and submit to the exclusive jurisdiction of the Courts in the Republic of Singapore. You agree that all claims that you may have against us arising from or relating to the chefront Sites, Mobile Apps and/or the Services must be heard and resolved in a court of competent subject matter jurisdiction located in the Republic of Singapore.

        Notwithstanding any other provision of these Terms, to the extent that you have in any manner violated or threatened to violate our intellectual property rights, we reserve the right to seek injunctive or other appropriate relief in any Court in the Republic of Singapore and/or the jurisdiction in which such intellectual property rights may have been infringed upon, and you submit to the exclusive jurisdiction of the relevant and respective Courts.

        11. Intellectual property
        You acknowledge that we own all right, title and interest, including without limitation all Intellectual Property Rights (as defined below), in and to the Services, chefront Sites and Mobile Apps, and that you will not acquire any rights, titles, or interests in the same except as expressly provided for in these Terms.

        You will not modify, adapt, translate, prepare derivative works from, decompile, reverse engineer, disassemble or otherwise attempt to derive source code from any of our Services, software, or documentation, or create or attempt to create a substitute or similar service or product through your use of or access the chefront Sites or Mobile Apps or our proprietary information related thereto.

        "Intellectual Property Rights" means any and all rights existing from time to time under patent law, copyright law, moral rights law, trade secret law, trade mark law, unfair competition law, publicity rights law, privacy rights law, and any and all other proprietary rights, as well as, any and all applications, renewals, extensions, restorations and reinstatements thereof, now or hereafter in force and effect worldwide.

        All rights (including goodwill) in the ”chefront” name and trademark are owned by us. Any other product, service or company names and trademarks which may appear on our Services are the names and trademarks of their respective owners.

        12. no warranty
        You acknowledge and agree that the Services are provided on an “as is” and “as available” basis, and that your use of or reliance upon the Services and any content, products or services accessed or obtained thereby is at your sole risk and discretion.

        We do not represent or warrant that: (a) the use of the Services will be secure, timely, uninterrupted or error free or that they will be compatible or operate in combination with any other hardware, software, system or data; (b) the Services will meet your requirements or expectations; (c) errors or defects in the Services will be corrected; or (d) the Services and our server(s) are free of viruses or other harmful components.

        All conditions, representations and warranties, whether express, implied, statutory or otherwise, including, without limitation, any implied warranties of merchantability, fitness for a particular purpose, and non-infringement, are hereby excluded and disclaimed to the fullest extent permitted under the law.

        The Services may be subject to limitations, delays, and other problems inherent in the use of the Internet and electronic communications (including problems inherent to the computer or electronic device you use). We are not responsible for any delays, delivery failures, damages, or losses resulting from such problems.

        No advice or information, whether oral or written, obtained by you from us or from the Services shall create any representation, warranty or guarantee. Furthermore, you acknowledge that we have no obligation to support or maintain the Services.

        We disclaim any and all liability or responsibility in relation to the Site Content made available through the Services, including but not limited to the Content uploaded by users or the third party content and services. We are not responsible or liable in any manner for the third party content and services associated with or utilised in connection with the Services, including the failure of such third party content and services, including but not limited to the content and/or services of our Business Partners.

        We maintain and shall have the right at any time to change, modify, correct, add to, discontinue, or retire any aspect or feature of the chefront Sites, Mobile Apps and/or the Services, including, but not limited to, hours of availability, equipment needed for access or use, or the availability of the Services (or any part thereof) on any particular device or communications service. We have no obligation to provide you and/or the Business Partners with notice of any such changes, and we are further under no obligation to provide you with any support, error corrections, updates, upgrades, bug fixes, and/or enhancements of the chefront Sites, Mobile Apps and/or the Services.

        

        chefront market Terms of Use
        Terms & Conditions
        
        1.  Purpose
        1.1 chefront International PTE. LTD. (UEN: 201320376H) (“chefront” , “Company”, “us”, “we” or “our”) operates the website located at www.chefront.com and other related websites (collectively, the “chefront Sites”) and mobile applications (collectively, the “Mobile Apps”). You are reading a legal document that sets out the terms and conditions (“Terms and Conditions”) on which you may make use of the chefront market section of the Mobile Apps (hereinafter “chefront market”, and as further defined below), whether as a guest or a registered user. 
        1.2 Please read these Terms and Conditions carefully. By browsing, accessing or using the chefront market or by using any facilities or services made available through it or by transacting through or on it, you are agreeing to the Terms and Conditions that appear below. These Terms and Conditions form a legally binding agreement between you and us (the “Agreement”).
        1.3 By accessing and/or using the chefront market section of the Mobile Apps, you acknowledge and agree to these Terms and Conditions. If you do not agree to be bound by these Terms and Conditions, please do not access or use the chefront market.
        1.4. We reserve the right to amend these Terms and Conditions at any time. All amendments to these Terms and Conditions will be posted on the chefront Sites and Mobile Apps, upon which said amendments shall take effect immediately. Continued use of any of the services provided by chefront including the information services, content and transaction capabilities on the chefront market, including the ability to make a purchase will be deemed to constitute acceptance of the Terms and Conditions and any amended version thereof. You are therefore advised to check the chefront Sites and Mobile Apps from time to time to ensure that you are aware of any amendments to the Terms and Condition.
        
        
        2. Definitions
        2.1 In this Agreement, we use various defined terms. You will know they are defined because they begin with a capital letter. This is what they mean:
        2.1.1 “Merchant” means a third party seller of goods and services for which a Food Deal can be redeemed.
        2.1.2 “Purchase” means the purchase of a Deal.
        2.1.3 “Register” means creating an account on chefront Sites or Mobile Apps, and “Registration” shall have the corresponding meaning.
        2.1.4 “Service” means all or any of the services provided by chefront via the chefront market (or via other electronic or other communication from chefront market) including the information services, content and transaction capabilities on the chefront market (including the ability to make a Purchase).
        2.1.5 “Food Deal” means a deal which is subject to the Terms and Conditions, which, if purchased by you, allows you (i.e. the purchaser of it but not anyone else) to redeem it at a particular Merchant in exchange for Food Deal Products offered by that Merchant.
        2.1.6 “Food Deal Products” means goods and/or services offered by a particular Merchant which are described as part of a Food Deal.
        2.1.7 “chefront market” refers to the section of the Mobile Apps labelled as chefront market where users can purchase and redeem time-based Food Deals of participating Merchants.
        2.1.8 “Account” means the account that you Register on chefront Sites or Mobile Apps.
        2.1.9 “Exclusion Window” means any period stated on the Food Deal during which the Food Deal cannot be redeemed. 
        
        3. General issues about the chefront market and the Service
        3.1 Applicability of Terms and Conditions: Use of the Service and the chefront market and any Purchase are each subject to the Terms and Conditions set out in this Agreement.
        3.2 Age: To use the chefront market and/or the Service (whether with or without registration) and to make any Purchase, you must be 18 years of age or over.
        3.3 Scope: The chefront market, Service and any Purchase are for your non-commercial, personal use only and must not be used for business purposes. For the avoidance of doubt, scraping of the chefront market (and hacking of the chefront market) is not allowed.
        3.4 Prevention on use: We reserve the right to prevent you from using the chefront market and the Service (or any part of them) and to prevent you from making any Purchase, for any reasons whatsoever as we deem fit.
        3.5 Equipment: The Service and use of the chefront market and the making of any Purchase does not include the provision of a computer or other necessary equipment to access the chefront market or the Service or making of any Purchase. To use the chefront market or Service or to make a Purchase, you will require Internet connectivity and appropriate telecommunication links. We shall not be liable for any telephone costs, telecommunications costs or other costs that you may incur.
        
        4. Registration and Accounts

        4.1. Why Register? Depending on the particular functionality of our chefront Sites at any time, you may or may not need to Register to use much of its functionality or to access much of our Services. However, you must Register in order to make a Purchase. We reserve the right to decline a new Registration or to cancel an Account at any time. You Register with us so you will not have to re-enter your information every time you make a Purchase.
        4.2. How to Register: To Register you need to supply us with your name, email address, and possibly some other personal information.
        4.3. Passwords: During Registration, you will also need to supply us with your password. You must keep the password confidential and immediately notify us if any unauthorised third party becomes aware of that password or if there is any unauthorised use of your email address or any breach of security known to you. You agree that we are not responsible or liable in the event that a person to whom your password is disclosed uses (and/or transacts via) our Services, chefront Sites and/or Mobile Apps. Please note that you are entirely responsible if you do not maintain the confidentiality of your password.
        4.4. Valid email addresses: All Accounts must be Registered with a valid personal email address that you access regularly. Any Account which has been Registered with someone else’s email address or with temporary email addresses may be closed without notice. We may require users to re-validate their Accounts if we believe they have been using an invalid email address.
        
        5. Purchase of Food Deals
        5.1 Need for Registration: we sell Food Deals via the chefront market that can be redeemed for Food Deal Products from a Merchant. You must Register in order to make a Purchase from the chefront market.
        5.2 Emails: We use the information and Personal Data that you provide to respond to your questions, provide you the Services, offer you our Merchants’ services and send you emails that are necessary or that we think may interest you. You may choose not to provide us with any information or Personal Data and in such a case you can still access and use some of the Services; however you will not be able to access and use those portions of the Services that require your information and Personal Data upon, and especially the registration of an Account with us. 
        5.3 When a Food Deal transaction is complete: In order to make a transaction, you need to go through the procedure for purchasing a Food Deal, confirm your acceptance to these Terms and Conditions and complete payment  (please see the chefront market for all available payment options). The transaction is only completed (and a contract for Purchase is made) when we email you the transaction confirmation  (which is our acceptance of the transaction). 
        5.4 This Agreement applies: By making a Purchase, you acknowledge that the Purchase is made subject to this Agreement. The details of the Merchant and Food Deal Products will be stated on the Food Deal. Any attempted redemption of a Food Deal not consistent with this Agreement may render a Food Deal void at our or the relevant Merchant’s discretion.
        5.5 Redemption: Your purchased Food Deals will be available in the “my deals” section on the chefront market section of the Mobile Apps. Food Deals can be redeemed on the chosen day at any time, except during the exclusion windows (if stated on the Food Deal). Redemption of the Food Deal occurs only at the counter via two methods: 1) scanning a QR code sticker or 2) allowing the Merchant to enter their PIN code.
        5.6 Redemption Date & Expiry: Food Deals are valid and may only be redeemed on a specific date (and only that date), but the date can be changed after you Purchase (as long as it is changed before the redemption date has passed) to a future date up to 2 times. If the redemption date of the Food Deals has expired, you cannot change the date anymore and you will not be granted any refund. 
        5.7 Exclusion Window: Once you have Purchased a Food Deal, you can only redeem the Food Deal on the selected date and outside of the Exclusion Window.
        5.8 Refund policy: Food Deals are strictly date specific and dates cannot be changed after the redemption date has expired. No refunds will be given in case you fail to redeem the Food Deal on its specific redemption date. In case Merchant has failed to supply the Food Deal specified on the chefront market, please contact our Customer Care team at support.sg@chefront.com.
        5.9 Responsibility: The Merchant, and not chefront, is:
        5.9.1 the supplier of the Food Deal Products, deal text, images and description;
        5.9.2 solely responsible for supplying you with the Food Deal Products and for the Food Deal Products themselves; and
        5.9.3 solely responsible for redeeming any Food Deal you Purchase from us. Any terms or conditions for the Food Deal Products that you purchase using our payment facility is strictly between you and the Merchant. chefront shall not be held liable for failure of the Merchant to deliver the said Food deal Products as advertised. Furthermore, you hereby release and hold chefront harmless from all liability arising from the payment you are about to make, as all liability shall reside with the Merchant.
        5.10 Restrictions: (i) Reproduction, sale, resale or trade of a Food Deal is prohibited. Any attempt to carry out any of these may void the Food Deal at our discretion; (ii) The Food Deal must be redeemed for Food Deal Products. If the Merchant allows the Food Deal to be redeemed for goods and services that are not Food Deal Products, there will be no entitlement to a credit, cash or new Food Deal equal to the difference between the value of the Food Deal Products and the value of the goods and services provided by the Merchant to you upon redemption of the Food Deal. Also, Food Deals are redeemable in their entirety only and may not be redeemed incrementally.
        5.11 Status of Food Deals: All Food Deals are promotional Food Deals that are offered for Purchase and are subject to this Agreement and to any terms and conditions of the relevant Merchant.
        5.12 chefront Hong Kong Ltd (for all Food Deals in Hong Kong section) and chefront Singapore Pte Ltd. (for all Food Deals in Singapore section) will take full responsibility for all payments made via our platform. This responsibility includes: refunds, chargebacks, cancellations and dispute resolution.  
        In the event that a dispute is raised we will offer the first line of support and will refund the Buyer if deemed appropriate.
        In the event that a Buyer submits a chargeback, because we are responsible for the payments, we will respond to the credit card networks on behalf of the Seller involved in the transaction. The Seller agrees to provide any requested information to us and we reserve the right to recoup any outlays associated with Buyer chargebacks.
        6. Your obligations
        6.1 Merchant terms: Merchants will have their own applicable terms and conditions, in relation to their own supply of their goods and services, and you agree to (and shall) abide by those terms and conditions. The responsibility to do so is yours alone.
        6.2 Accurate information: You warrant that all information provided on Registration and contained as part of your Account during the course of this Agreement is true, complete and accurate and that you will promptly inform us of any changes to such information by updating the details in your Account.
        6.3 Content on the chefront market and Service and Food Deals: It is your responsibility to ensure that any products, services or information available through the chefront market or the Service meet your specific requirements.
        6.4 Things you cannot do: Without limitation, you undertake not to use or permit anyone else to use the Service or chefront market:
        6.4.1 to send or receive any material which is not civil or tasteful;
        6.4.2 to send or receive any material which is threatening, grossly offensive, of an indecent, obscene or menacing character, blasphemous or defamatory of any person, in contempt of court or in breach of confidence, copyright, rights of personality, publicity or privacy or any other third party rights;
        6.4.3 to send or receive any material for which you have not obtained all necessary licences and/or approvals (from us or third parties); or which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party in any country in the world;
        6.4.4 to send or receive any material which is technically harmful (including computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data);

        6.4.5 to cause annoyance, inconvenience or needless anxiety;
        6.4.6 to intercept or attempt to intercept any communications transmitted by way of a telecommunications system;
        6.4.7 for a purpose other than which we have designed them or intended them to be used;
        6.4.8 for any fraudulent purpose;
        6.4.9 other than in conformance with accepted Internet practices and practices of any connected networks; or
        6.4.10 in any way which is calculated to incite hatred against any ethnic, religious or any other minority or is otherwise calculated to adversely affect any individual, group or entity.
        6.5 Forbidden uses: The following uses of the Service (and chefront market) and Food Deals are expressly prohibited and you undertake not to do (or to permit anyone else to do) any of the following:
        6.5.1 resale of the Service (or chefront market) or any Food Deal;
        6.5.2 furnishing false data including false names, addresses and contact details and fraudulent use of credit/debit card numbers;
        6.5.3 attempting to circumvent our security or network including accessing data not intended for you, logging into a server or account that you are not expressly authorised to access, or probing the security of other networks (such as running a port scan);
        6.5.4 accessing the Service (or chefront market) in such a way as to, or commit any act that would or does, impose an unreasonable or disproportionately large load on our infrastructure;
        6.5.5 executing any form of network monitoring which will intercept data not intended for you;
        6.5.6 sending unsolicited mail messages, including the sending of "junk mail" or other advertising material to individuals who did not specifically request such material. You are explicitly prohibited from sending unsolicited bulk mail messages. This includes bulk mailing of commercial advertising, promotional, or informational announcements, and political or religious tracts. Such material may only be sent to those who have explicitly requested it. If a recipient asks you to stop receiving email of this nature, you shall not send that person any further email;
        6.5.7 creating or forwarding "chain letters" or other "pyramid schemes" of any type, whether or not the recipient wishes to receive such mailings;
        6.5.8 sending malicious email, including flooding a user or site with very large or numerous emails;
        6.5.9 entering into fraudulent interactions or transactions with us or a Merchant (which shall include, without limitation, entering into interactions or transactions purportedly on behalf of a third party where you have no authority to bind that third party or you are pretending to be a third party);
        6.5.10 using the Service or chefront market (or any relevant functionality of either of them) in breach of this Agreement;
        6.5.11 unauthorised use, or forging, of mail header information;
        6.5.12 engage in any unlawful activity in connection with the use of the chefront market and/or the Service or any Food Deal; or
        6.5.13 engage in any conduct which, in our exclusive reasonable opinion, restricts or inhibits any other customer from properly using or enjoying the chefront market and Service.
        7. chefront market Rules about the use of the Service and the chefront market
        7.1. Errors and omissions: You acknowledge and agree that we are not liable for errors or omissions (e.g., listing a Food Deal at $2.99 instead of $299)We will use reasonable endeavours to correct any errors or omissions as soon as practicable after being notified of them. We reserve the right to change, modify, substitute, suspend or remove without notice any Food Deal, Services or information on the chefront Sites or Mobile Apps or forming part of the Services from time to time.
        7.2. Viruses and similar stuff: We do not give any warranty that the Services or the Mobile Apps are free from viruses or anything else which may have a harmful effect on any technology.
        7.3. Stopping access: Although we will try to allow uninterrupted access to the Mobile Apps, access may be suspended, restricted or terminated at any time. Your access to the Mobile Apps may also be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will attempt to restore such access as soon as we reasonably can. We also reserve the right to block access to and/or to edit or remove any material which in our reasonable opinion may give rise to a breach of any provisions of this Agreement.
        7.4. Closing Accounts: We reserve the right to close Accounts if any user is violating our terms of use (i.e., this Agreement), including if he is seen to be using proxy IPs (Internet Protocol addresses) in order to attempt to hide the use of multiple Accounts, or if a user pretends to be located in a country different from where he actually resides, or if he disrupts the chefront Sites or the Services in any way.
        7.5. Multiple Accounts: If you use multiple Accounts, if we do take any action against you, you may have action taken against all of your Accounts.

        8. Suspension and Termination
        8.1 If you use (or anyone other than you, with your permission uses) the chefront market or Service or a Food Deal in contravention of this Agreement, we may suspend your use of the Service and/or chefront market (in whole or in part) and/or a Food Deal.
        8.2 If we suspend the Service or chefront market or a Food Deal, we may refuse to restore the Service or chefront market or Food Deal until we receive an assurance from you, in a form we deem acceptable, that there will be no further breach of the provisions of this Agreement.
        8.3 chefront shall fully co-operate with any law enforcement authorities or court order requesting or directing chefront to disclose the identity or locate anyone in breach of this Agreement.
        8.4 Without limitation to anything else in this Clause 8, we shall be entitled immediately or at any time (in whole or in part) to: i) suspend the Service and/or chefront market; ii) suspend your use of the Service and/or chefront market; iii) suspend the use of the Service and/or chefront market for persons we believe to be connected (in whatever manner) to you; and/or iv) terminate this Agreement immediately if:
        8.4.1 you commit any breach of this Agreement;
        8.4.2 we suspect, on reasonable grounds, that you have, might or will commit a breach of these terms; or
        8.4.3 we suspect, on reasonable grounds, that you may have committed or be committing any fraud against us or any person.
        8.5 Notwithstanding anything else in this Clause 8, we may terminate this Agreement at any time.
        8.6 Our right to terminate this Agreement shall not prejudice any other right or remedy we may have in respect of any breach or any rights, obligations or liabilities accrued prior to termination.
        
        9. Indemnity
        9.1 To the fullest extent permitted by applicable law, you shall indemnify, defend and hold harmless chefront, its directors, officers, agents and employees, and its affiliated entities, successors and assigns, from and against claims or demands, causes of action, judgments, liabilities, losses, costs and expenses (including, without limitation, reasonable legal fees) that may arise out of or result from:
        9.1 your access to and use of the chefront Sites and/or Mobile Apps;
        9.2 your Purchase of Food Deals;
        9.3 any information posted or made available by you on the chefront Sites and/or Mobile Apps;
        9.4 anything you do using the chefront Sites and/or Mobile Apps;
        9.5 any violation of applicable law or the rights of any third party that occurs though your use of the chefront Sites and/or Mobile Apps;
        9.6 your breach of violation of this Agreement;
        9.7 any inaccuracy in any information, representation or warranty that you provide under this Agreement;
        9.8 anything done or failure to do anything by you in carrying out your obligations under this Agreement; and/or
        9.9 any other willful misconduct, default, unauthorised acts or willful omission on your part.
        
        10. Limitation of liability
        You further acknowledge and agree that we will not be held liable for any loss or damage incurred as a result of your use of the chefront market, chefront Sites, Mobile Apps or the Services. You understand that we are not the seller of the goods and/or dining services contained on the chefront Sites, Mobile Apps and/or otherwise made available through the Services. We are a service provider and transaction handler for third party Merchants. We are in no way nor shall be considered an agent of any Merchant, and we take no responsibility for the services or products for which any Merchant provides.
        
        11. Data protection
        We may collect, use and/or disclose your personal data pursuant to this Agreement. Please refer to our Privacy Policy (a copy of which is available here, which is hereby incorporated herein by reference, for our personal data protection policy governing our collection, use and/or disclosure of personal data.
        
        12. Links to and from other chefront market

        The chefront market and Mobile Apps may contain advertisements and/or links to other sites (“Third Party Sites”). These links to Third Party Sites are provided solely for the convenience of our users. We do not endorse, sanction or verify the accuracy or ownership of the information contained in the advertisements or the content of any Third Party Site or any products or services advertised on Third Party Sites. If you decide to leave the chefront Sites and navigate to Third Party Sites, or install any other applications, software or download content from any such Third Party Sites, you do so at your own risk. Concerns regarding a Third Party Site should be directed to the owners of the Third Party Site itself. We bear no responsibility for any action associated with any Third Party Site. Moreover, we do not imply an affiliation with any Third Party Site.
        
        13. Intellectual property rights
        13.1 We respect the intellectual property of others. If you believe in good faith that any content, information or other matter posted on the chefront Sites or Mobile Apps infringe upon the copyright in a work you own, please contact our Customer Support team, with correspondence containing the following:
        13.1.1 a physical signature of the owner, or a person authorized to act on behalf of the owner of the copyright that is allegedly infringed;
        13.1.2 a clear identification of the copyrighted work allegedly infringed;
        13.1.3 identifying information reasonably sufficient to allow determination by us of the location of the material that is allegedly infringing;
        13.1.4 information reasonably sufficient to permit us to contact or respond to you;
        13.1.5 statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
        13.1.6 statement that the information in the notification is accurate, and that you are either the owner or authorised to act on behalf of the owner of an exclusive right that is allegedly infringed.
        13.2 chefront retains all intellectual property rights over the source code and technical information relating to the chefront Sites and Mobile Apps, as well as the content and information relating to the chefront Sites and Mobile Apps. These Terms and Conditions shall not confer any right or interest upon you to chefront’s intellectual property rights beyond the limited, non-exclusive, non-transferable, revocable right to access and use the chefront Sites and Mobile Apps.
        13.3 You shall not use the name, logo, trade mark, trade name, service mark or other symbol of or associated with chefront for any purpose whatsoever without obtaining our prior written consent.
        14. Governing Law, Jurisdiction and Arbitration
        14.1 Any and all disputes arising out of, relating to or connected with these Terms and Conditions, our Privacy Policy, or your use of any part of the chefront Sites, Mobile Apps and/or the Services, shall be referred to the Singapore International Arbitration Centre (“SIAC”) and shall be finally resolved by arbitration under the SIAC Rules for the time being in force (which SIAC Rules shall be deemed to be incorporated herein by reference) by a panel of one (1) arbitrator appointed in accordance with the SIAC Rules. The seat of arbitration shall be Singapore. The language to be used in the arbitral proceedings shall be English.
        14.2 The chefront Sites and Mobile Apps are operated by a Singapore entity, and these Terms and Conditions are governed by the laws of the Republic of Singapore.
        14.3 Notwithstanding the above and in the event that you initiate legal proceedings against us, you hereby consent and submit to the exclusive jurisdiction of the courts of the Republic of Singapore. You agree that all claims that you may have against us arising from or relating to the chefront Sites, Mobile Apps and/or the Services must be heard and resolved in a court of competent subject matter jurisdiction located in the Republic of Singapore.
        14.4 Notwithstanding any other provision of these Terms and Conditions, to the extent that you have in any manner violated or threatened to violate our intellectual property rights, we reserve the right to seek injunctive or other appropriate relief in any court in the Republic of Singapore and/or the jurisdiction in which such intellectual property rights may have been infringed upon, and you submit to the exclusive jurisdiction of the relevant and respective courts.
        </p>
        
    </div>
    </center>
</div>